.strengthButton{
    color: #FCFCFC;
    font-size: 16px;
    font-weight: normal;
    border: none;
    width: 8rem;
}
.isClicked{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.nextIcon{
    cursor: pointer;
    font-size: 2rem;
    color: #5F5353;
}
